.MuiInputLabel-root {
	color: var(--tg-theme-text-color, 60%) !important;
}
.MuiInputBase-input {
	color: var(--tg-theme-text-color, 40%) !important;
}
.MuiOutlinedInput-notchedOutline {
	border-color: var(--tg-theme-text-color, 23%) !important;
}
.MuiOutlinedInput-notchedOutline:hover {
	border-color: var(--tg-theme-text-color, 87%) !important;
}
.MuiButtonBase-root {
	color: var(--tg-theme-bg-color, 84%) !important;
}
.MuiButtonBase-root.MuiIconButton-root {
	color: var(--tg-theme-text-color, 54%) !important;
}
