.MuiInputLabel-root {
	color: var(--tg-theme-text-color, 60%) !important;
}
.MuiInputBase-input {
	color: var(--tg-theme-text-color, 40%) !important;
}
.MuiOutlinedInput-notchedOutline {
	border-color: var(--tg-theme-text-color, 23%) !important;
}
.MuiOutlinedInput-notchedOutline:hover {
	border-color: var(--tg-theme-text-color, 87%) !important;
}
.MuiButtonBase-root {
	color: var(--tg-theme-button-color, 84%) !important;
}
.MuiButtonBase-root.MuiIconButton-root {
	color: var(--tg-theme-text-color, 54%) !important;
}
.MuiButtonBase-root.MuiChip-root {
	background-color: var(--tg-theme-text-color, 8%) !important;
}
.MuiButtonBase-root.MuiChip-root .MuiSvgIcon-root {
	background-color: var(--tg-theme-text-color, 26%) !important;
}
